.row {
  background-color: gray;
}

.row:hover {
  background-color: rgba(128, 128, 128, 0.486);
}

.data-cell {
  color: #ffffff;
}

.wrapper {
  background-color: #5a6170;
}

.delete:hover {
  cursor: pointer;
}
