.row {
  background-color: gray;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.data-cell {
  margin: 0.6rem;
  color: #ffffff;
  justify-self: center;
  align-self: center;
}
