body {
  background-color: #5a6170;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.6vmin);
  color: #f1f1f1;
}

.main-content {
  color: #f1f1f1;
  padding: 1rem;
}

.app-link {
  color: #61dafb;
}
